.products-container {
  font-family: "Montserrat", sans-serif;
}
.products {
  margin-top: 100px;
  color: $text;
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 2px solid $border;

  p {
    padding-top: 40px;
    font-size: 15px;
  }
}
.details {
  border-bottom: 2px solid $border;
  display: flex;
  justify-content: space-around;
  height: 80px;
  color: $text;
  margin-bottom: 50px;
  p {
    position: relative;
    top: 27px;
  }
  button {
    background-color: white;
    border-left: 2px solid $border;
    border-right: 2px solid $border;
    border-top: none;
    border-bottom: none;
    width: 100px;
    color: $text;
  }
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .single-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text;
    margin-bottom: 40px;

    text-align: center;
    height: 400px;
    width: 450px;
    img {
      width: 300px;
      height: 300px;
      align-self: center;
      object-fit: cover;
    }
    h4 {
      padding-top: 30px;
      font-size: 15px;
    }
  }
}
.recommended-details {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $text;
  border-top: 2px solid $border;
  border-bottom: 2px solid $border;
  p {
    font-size: 14px;
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 400px;
}
