.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  h2 {
    text-align: center;
    border-bottom: 2px solid $border;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  color: $text;
  font-family: "Montserrat", sans-serif;
  .about-detail {
    width: 50vw;
    padding-top: 50px;
    padding-bottom: 180px;
    text-align: center;
    align-self: center;
    h4 {
      padding-bottom: 30px;
      font-weight: 900;
      color: $title;
    }
  }
}
.wish-list-account {
  .single-wish {
    .remove-button {
      background-color: $title;
      color: white;
      border: 2px solid $title;
      font-size: 14px;
      width: 80px;
      height: 35px;
    }
    .remove-button:hover {
      background-color: white;
      color: $title;
    }
  }
}
