@media screen and (max-width: 480px) {
  .nav-container {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    .nav-title {
      padding-top: 30px;
      text-align: center;
      font-weight: 900;
      font-size: 35px;
      color: #95ab7f;
      font-family: "Nanum Myeongjo", serif;
      a {
        text-decoration: none;
        color: #95ab7f;
      }
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 20px;
      font-family: "Montserrat", sans-serif;

      li {
        list-style: none;
        text-decoration: none;
        padding: 20px;
        font-weight: 200;
        color: #6a6a6a;
        a {
          text-decoration: none;
          color: $text;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .login-button {
      background-color: white;
      color: $text;
      border: none;
    }
    .login-button:hover {
      text-decoration: underline;
    }
    .logout-button {
      background-color: white;
      color: $text;
      border: none;
    }
    .logout-button:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 481px) {
  .nav-container {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    .nav-title {
      padding-top: 30px;
      text-align: center;
      font-weight: 900;
      font-size: 35px;
      color: #95ab7f;
      font-family: "Nanum Myeongjo", serif;
      a {
        text-decoration: none;
        color: #95ab7f;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      padding: 20px;
      font-family: "Montserrat", sans-serif;

      li {
        list-style: none;
        text-decoration: none;
        padding: 20px;
        font-weight: 200;
        color: #6a6a6a;
        a {
          text-decoration: none;
          color: $text;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .login-button {
      background-color: white;
      color: $text;
      border: none;
      padding: 20px;
    }
    .login-button:hover {
      text-decoration: underline;
    }
    .register-button {
      background-color: white;
      color: $text;
      border: none;
      padding: 20px;
    }
    .register-button:hover {
      text-decoration: underline;
    }
    .logout-button {
      background-color: white;
      color: $text;
      border: none;
      padding: 20px;
    }
    .logout-button:hover {
      text-decoration: underline;
    }
  }
}
