.modal-container-login {
  color: $button;
  font-family: "Montserrat", sans-serif;
  .modal-header {
    background-color: white;
    border-bottom: 1px solid $button;
    .modal-title {
      position: relative;
      left: 110px;
      font-family: "Nanum Myeongjo", serif;
    }
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-body {
    padding-top: 50px;
    background-color: white;
    padding-bottom: 50px;
  }
  .modal-footer {
    background-color: white;
    border-top: 1px solid $button;
  }
  .login-form {
    background-color: white;
  }
  .login-label {
    color: $button;
  }
  .modal-button {
    border: 2px solid $button;
    color: white;
    width: 200px;
    height: 50px;
    position: relative;
    left: 130px;
    margin-top: 20px;
    background: linear-gradient(to right, $button 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
  }
  .modal-button:hover {
    background-position: right bottom;
    color: $button;
    border: 2px solid $button;
    transition: all 1s ease-in;
  }
}
.modal-container-register {
  color: $button;
  font-family: "Montserrat", sans-serif;
  .modal-header {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $button;
    .modal-title {
      position: relative;
      left: 80px;
      font-family: "Nanum Myeongjo", serif;
    }
  }
  .register-para {
    text-align: center;
    width: 400px;
    position: relative;
    left: 50px;
    margin-top: 10px;
    p {
      font-size: 12px;
    }
  }
  .register-button {
    border: 2px solid $button;
    color: white;
    width: 200px;
    height: 50px;
    position: relative;
    left: 130px;
    margin-top: 20px;
    background: linear-gradient(to right, $button 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    margin-bottom: 20px;
  }
  .register-button:hover {
    background-position: right bottom;
    color: $button;
    border: 2px solid $button;
    transition: all 1s ease-in;
  }
}
