.title-wishlist {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: $text;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border;
  p {
    font-size: 14px;
    padding-top: 20px;
  }
}
.wish-card {
  display: flex;
  padding: 20px;
  padding-top: 40px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  color: $text;
  margin-bottom: 50px;
}
